/* Global settings */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #002147; /* Colore di sfondo blu scuro */
    color: #ffffff; /* Testo bianco */
    line-height: 1.6; /* Migliora la leggibilità */
}

/* Background animation */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

/* Responsive typography */
h1, h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.3;
}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.5rem;
    }
}

.partecipanti-list {
    margin-bottom: 150px;
}

/* Partecipanti */
.partecipante {
    position: relative;
    background-color: #f5f5f5;
    color: #002147;
    padding: 20px;
    border-radius: 8px;
    height: 80px;
    margin: 50px 0;
    display: flex;
    align-items: center; /* Allinea gli elementi verticalmente al centro */
    justify-content: center; /* Mantiene il testo centrato */
    text-align: center; /* Centro il testo */
}

.name-wrapper {
    position: relative;
    flex-grow: 1; /* Occupare tutto lo spazio disponibile */
    text-align: center; /* Assicura che il testo resti centrato */
}

/* Dettagli del partecipante */
.name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
}

.number{
    margin-left: 5%;
}

.number,.name  span {
    display: block;
}

.number, .name  span:first-child {
    font-weight: bold;
    font-size: 1rem;
}

.number, .name  span:last-child {
    font-style: italic;
    font-size: 0.9rem;
}

.number{
    position: absolute;
    font-size: 1.5rem;
    size: 100px;
    margin-left: 100px;
}

.number-wrapper {
    position: relative;
    display: flex;
    align-items: center; /* Allinea gli elementi verticalmente al centro */
    justify-content: center; /* Mantiene il testo centrato */
    text-align: center; /* Centers il testo */
}

/* Immagine posizionata assolutamente a destra */
.immagine {
    position: absolute;
    right: 0px; /* Posiziona l'immagine a destra del contenitore */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente l'immagine */
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #d3d3d3;
    box-shadow: 5px 5px 15px 5px #000000;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .partecipante {
        flex-direction: row; /* Mantieni la direzione in riga */
        justify-content: flex-start; /* Allinea gli elementi a sinistra */
    }
    .immagine {
        margin: 0 0 0 10px; /* Spazio a sinistra dell'immagine */
        width: 100px;
        height: 100px;
    }
    .number{
        display: flex;
    }
}

@media (max-width: 480px) {
    .partecipante {
        padding: 10px;
    }
    .immagine {
        display: block;
        float: right;

        width: 100px;
        height: 100px;
        }
}

/* Bottone di votazione */
.votaBtn {
    position: absolute; /* Cambiato da relative ad absolute */
    left: 50%; /* Centra il bottone orizzontalmente rispetto al partecipante */
    bottom: -20px; /* Lo posiziona fuori dal box, sotto il partecipante */
    transform: translateX(-50%); /* Compensa lo spostamento per mantenere il centro */
    margin-top: 0; /* Rimuove il margine superiore */
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 150px;
    text-align: center; /* Centra il testo */
    display: flex;
    justify-content: center; /* Assicura che il testo sia centrato orizzontalmente */
    align-items: center; /* Assicura che il testo sia centrato verticalmente */
}

.votaBtn:checked {
    transform: translateX(-50%); /* Compensa lo spostamento per mantenere il centro */
}

/* Hover generico sui bottoni */
.votaBtn:hover {
    background-color: rgb(94, 94, 94);
}

/* Hover generico sui bottoni */
button:hover {
    background-color: #2980b9;
    transition: 0.2s;
    transform: scale(1.05);

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    form {
        flex-direction: row;
    }
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

/* Lista partecipanti */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#adminPartecipantiList li {
    transition: all 0.5s ease;
}

/* Bottone di rimozione partecipanti */
.rimuoviBtn {
    background-color: #e74c3c;
}

.rimuoviBtn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(231, 76, 60, 0.4);
}

#messaggioVotazioni {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 15px;
}

#toggleVotazioni {
    background-color: #2ecc71;
    padding: 12px 18px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#toggleVotazioni:hover {
    background-color: #27ae60;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 128, 0, 0.4);
}

.già-votato {
    background-color: rgb(94, 94, 94);
    cursor: not-allowed;
    text-decoration: line-through;
    opacity: 1;
    transform: translateX(-50%); /* Compensa lo spostamento per mantenere il centro */

}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2255a2;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 50px -2px 50px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
}

.footer p {
    font-size: 12px; /* Testo più piccolo */
    margin: 0;
    padding-bottom: 10px;
}

.footer .logos {
    display: flex;
    justify-content: center;
    gap: 30px; /* Distanza uguale tra i loghi */
}

.footer img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit:scale-down;
}

.footer img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.footer-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2255a2;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 50px -2px 50px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 20px 20px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #popupOkBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #popupOkBtn:hover {
    background-color: #45a049;
  }